node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

dist/
build/
coverage/

logs/
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/

pids/
*.pid
*.seed

*.local

cookies.txt
