services:
    postgres:
        image: postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}",
                ]
            interval: 5s
            timeout: 5s
            retries: 10

    mongo:
        image: mongo
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    'mongosh --quiet --eval "db.runCommand({ ping: 1 }).ok" | grep 1',
                ]
            interval: 5s
            timeout: 5s
            retries: 10

    server:
        build:
            context: .
            dockerfile: server/Dockerfile
        env_file:
            - ./.env
        ports:
            - "3000:3000"
        depends_on:
            postgres:
                condition: service_healthy
            mongo:
                condition: service_healthy
