{{#if flash}}
	<div class="space-y-2 mb-4">
		{{#each flash}}
			<div class="rounded-xl border px-4 py-3 text-sm
				{{#if (eq type "success")}}border-emerald-500/30 bg-emerald-500/10 text-emerald-200{{/if}}
				{{#if (eq type "error")}}border-red-500/30 bg-red-500/10 text-red-200{{/if}}
			">
				{{message}}
			</div>
		{{/each}}
	</div>
{{/if}}
